# Diabetes Mellitus

[Diabetes](https://www.who.int/health-topics/diabetes) [mellitus](https://www.healthdirect.gov.au/diabetes), or DM, more commonly known simply as diabetes, is a group of diseases that can cause high levels of glucose in the blood. There are two main [types of diabetes](https://www.nhsinform.scot/illnesses-and-conditions/diabetes/diabetes):
- Type 1 – where the pancreas doesn't produce any insulin
- Type 2 – where the pancreas doesn't produce enough insulin or the body’s cells don't react to insulin

In [1]:
# Data manipulation
import numpy as np
import pandas as pd
import datetime as dt

# Data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Ignore warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
print('NumPy', np.__version__)
print('Pandas', pd.__version__)
print('Matplotlib', mpl.__version__)
print('Seaborn', sns.__version__)

NumPy 1.23.5
Pandas 1.5.3
Matplotlib 3.7.1
Seaborn 0.12.2

In [5]:
# Read the data files
df_19 = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2019_kepesertaan.dta')
df_20 = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2020_kepesertaan.dta')
df_21 = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2021_kepesertaan.dta')
df_fktp_k = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2021_fktpkapitasi.dta', convert_categoricals=False)
df_fkrtl_1 = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2021_fkrtl.dta')
df_fktp_n = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2021_fktpnonkapitasi.dta')
df_fkrtl_2 = pd.read_stata('/content/drive/MyDrive/Extra Space/Healthkathon/Data Sampel Final 2022/Kontekstual DM/DM2021_fkrtldxsekunder.dta')

## 1. Hasil Data Sampel BPJS Kesehatan

### 1.1. Kepesertaan BPJS Kesehatan

#### 1.1.1. Tahun 2019

In [6]:
df_19.columns

Index(['PSTV01', 'PSTV02', 'PSTV03', 'PSTV04', 'PSTV05', 'PSTV06', 'PSTV07',
       'PSTV08', 'PSTV09', 'PSTV10', 'PSTV11', 'PSTV12', 'PSTV13', 'PSTV14',
       'PSTV15', 'PSTV16', 'PSTV17', 'PSTV18'],
      dtype='object')

In [7]:
df_19.rename(columns={
    'PSTV01': 'Nomor_Peserta',
    'PSTV02': 'Nomor_Keluarga',
    'PSTV03': 'Tanggal_Lahir_Peserta',
    'PSTV04': 'Hubungan_Keluarga',
    'PSTV05': 'Jenis_Kelamin',
    'PSTV06': 'Status_Perkawinan',
    'PSTV07': 'Kelas_Rawat',
    'PSTV08': 'Segmen_Peserta',
    'PSTV09': 'Provinsi_Tempat_Tinggal_Peserta',
    'PSTV10': 'Kabupaten_Kota_Tempat_Tinggal_Peserta',
    'PSTV11': 'Kepemilikan_Faskes',
    'PSTV12': 'Jenis_Faskes',
    'PSTV13': 'Provinsi_Faskes_Peserta',
    'PSTV14': 'Kabupaten_Kota_Faskes_Peserta',
    'PSTV15': 'Bobot',
    'PSTV16': 'Tahun_Sampel',
    'PSTV17': 'Status_Kepesertaan',
    'PSTV18': 'Tahun_Meninggal'
}, inplace=True)

In [8]:
print('\nData in DM2019_kepesertaan.dta')
df_19.head()

Data in DM2019_kepesertaan.dta

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal
0,45243428,45243428,1959-10-11,PESERTA,PEREMPUAN,KAWIN,KELAS I,PPU,ACEH,PIDIE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,PIDIE,11.468968,2020,AKTIF,NaN
1,356470819,356470819,1965-12-31,PESERTA,LAKI-LAKI,KAWIN,KELAS I,PPU,ACEH,KOTA BANDA ACEH,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA BANDA ACEH,9.863322,2020,AKTIF,NaN
2,72280409,375793382,1964-08-03,ISTRI,PEREMPUAN,CERAI,KELAS I,BUKAN PEKERJA,SUMATERA UTARA,BATU BARA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA UTARA,BATU BARA,8.487743,2020,AKTIF,NaN
3,88501975,88501975,1959-10-02,PESERTA,PEREMPUAN,KAWIN,KELAS I,PPU,SUMATERA UTARA,ASAHAN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA UTARA,ASAHAN,10.726228,2020,MENINGGAL,2019.0
4,94870095,310527655,1947-01-01,SUAMI,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,SUMATERA BARAT,PESISIR SELATAN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA BARAT,PESISIR SELATAN,10.539836,2020,AKTIF,NaN

In [9]:
df_19.shape

(143496, 18)

In [10]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143496 entries, 0 to 143495
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Nomor_Peserta                          143496 non-null  int32
 1   Nomor_Keluarga                         143496 non-null  int32
 2   Tanggal_Lahir_Peserta                  143496 non-null  datetime64[ns]
 3   Hubungan_Keluarga                      143496 non-null  category
 4   Jenis_Kelamin                          143496 non-null  category
 5   Status_Perkawinan                      143496 non-null  category
 6   Kelas_Rawat                            143496 non-null  category
 7   Segmen_Peserta                         143496 non-null  category
 8   Provinsi_Tempat_Tinggal_Peserta        143496 non-null  category
 9   Kabupaten_Kota_Tempat_Tinggal_Peserta  143496 non-null  category
 10  Kepemilikan_Faskes                     143496 non-null  category
 11  Jenis_Faskes                           143496 non-null  category
 12  Provinsi_Faskes_Peserta                143496 non-null  category
 13  Kabupaten_Kota_Faskes_Peserta          143496 non-null  category
 14  Bobot                                  143496 non-null  float32
 15  Tahun_Sampel                           143496 non-null  int16
 16  Status_Kepesertaan                     143496 non-null  category
 17  Tahun_Meninggal                        10268 non-null   float64
dtypes: category(12), datetime64[ns](1), float32(1), float64(1), int16(1), int32(2)
memory usage: 7.2 MB

In [11]:
df_19.duplicated().sum()

0

In [12]:
df_19.isna().sum().sum()

133228

In [13]:
df_19.isna().sum()

Nomor_Peserta                                 0
Nomor_Keluarga                                0
Tanggal_Lahir_Peserta                         0
Hubungan_Keluarga                             0
Jenis_Kelamin                                 0
Status_Perkawinan                             0
Kelas_Rawat                                   0
Segmen_Peserta                                0
Provinsi_Tempat_Tinggal_Peserta               0
Kabupaten_Kota_Tempat_Tinggal_Peserta         0
Kepemilikan_Faskes                            0
Jenis_Faskes                                  0
Provinsi_Faskes_Peserta                       0
Kabupaten_Kota_Faskes_Peserta                 0
Bobot                                         0
Tahun_Sampel                                  0
Status_Kepesertaan                            0
Tahun_Meninggal                          133228
dtype: int64

- Jumlah missing value pada fitur `Tahun_Meninggal` sebanyak 133.228.

In [14]:
df_19['Tahun_Meninggal'] = df_19['Tahun_Meninggal'].fillna(0).astype(int)
df_19['Tahun_Lahir'] = df_19['Tanggal_Lahir_Peserta'].dt.year

umur = np.where(df_19['Tahun_Meninggal'] != 0,
                df_19['Tahun_Meninggal'] - df_19['Tahun_Lahir'],
                df_19['Tahun_Sampel'] - df_19['Tahun_Lahir'])
df_19['Umur'] = umur.astype(int)

In [15]:
df_19.head()

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal,Tahun_Lahir,Umur
0,45243428,45243428,1959-10-11,PESERTA,PEREMPUAN,KAWIN,KELAS I,PPU,ACEH,PIDIE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,PIDIE,11.468968,2020,AKTIF,0,1959,61
1,356470819,356470819,1965-12-31,PESERTA,LAKI-LAKI,KAWIN,KELAS I,PPU,ACEH,KOTA BANDA ACEH,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA BANDA ACEH,9.863322,2020,AKTIF,0,1965,55
2,72280409,375793382,1964-08-03,ISTRI,PEREMPUAN,CERAI,KELAS I,BUKAN PEKERJA,SUMATERA UTARA,BATU BARA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA UTARA,BATU BARA,8.487743,2020,AKTIF,0,1964,56
3,88501975,88501975,1959-10-02,PESERTA,PEREMPUAN,KAWIN,KELAS I,PPU,SUMATERA UTARA,ASAHAN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA UTARA,ASAHAN,10.726228,2020,MENINGGAL,2019,1959,60
4,94870095,310527655,1947-01-01,SUAMI,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,SUMATERA BARAT,PESISIR SELATAN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,SUMATERA BARAT,PESISIR SELATAN,10.539836,2020,AKTIF,0,1947,73

In [16]:
df_19.describe(include='all')

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal,Tahun_Lahir,Umur
count,1.434960e+05,1.434960e+05,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496.000000,143496.0,143496,143496.000000,143496.000000,143496.000000
unique,NaN,NaN,18552,5,2,3,3,5,35,483,9,3,34,488,NaN,NaN,3,NaN,NaN,NaN
top,NaN,NaN,1960-12-31 00:00:00,PESERTA,PEREMPUAN,KAWIN,KELAS I,PBPU,JAWA TIMUR,KOTA SURABAYA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,JAWA TIMUR,KOTA SURABAYA,NaN,NaN,AKTIF,NaN,NaN,NaN
freq,NaN,NaN,441,85100,85829,120142,55547,42738,23422,3899,84405,86105,23514,4098,NaN,NaN,135730,NaN,NaN,NaN
first,NaN,NaN,1899-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2018-06-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.015970e+08,1.216283e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.004865,2020.0,NaN,144.512864,1961.257763,58.711978
std,1.209830e+08,1.363905e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.666396,0.0,NaN,520.550492,10.243017,10.236496
min,9.680000e+02,5.170000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.351047,2020.0,NaN,0.000000,1899.000000,2.000000
25%,3.011237e+07,3.239370e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.047610,2020.0,NaN,0.000000,1954.000000,52.000000
50%,5.977754e+07,6.482657e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.459408,2020.0,NaN,0.000000,1961.000000,59.000000
75%,8.989074e+07,9.736831e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.782674,2020.0,NaN,0.000000,1968.000000,65.000000
max,4.553888e+08,4.553888e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.295937,2020.0,NaN,2020.000000,2018.000000,121.000000

#### 1.1.2. Tahun 2020

In [17]:
df_20.columns

Index(['PSTV01', 'PSTV02', 'PSTV03', 'PSTV04', 'PSTV05', 'PSTV06', 'PSTV07',
       'PSTV08', 'PSTV09', 'PSTV10', 'PSTV11', 'PSTV12', 'PSTV13', 'PSTV14',
       'PSTV15', 'PSTV16', 'PSTV17', 'PSTV18'],
      dtype='object')

In [18]:
df_20.rename(columns={
    'PSTV01': 'Nomor_Peserta',
    'PSTV02': 'Nomor_Keluarga',
    'PSTV03': 'Tanggal_Lahir_Peserta',
    'PSTV04': 'Hubungan_Keluarga',
    'PSTV05': 'Jenis_Kelamin',
    'PSTV06': 'Status_Perkawinan',
    'PSTV07': 'Kelas_Rawat',
    'PSTV08': 'Segmen_Peserta',
    'PSTV09': 'Provinsi_Tempat_Tinggal_Peserta',
    'PSTV10': 'Kabupaten_Kota_Tempat_Tinggal_Peserta',
    'PSTV11': 'Kepemilikan_Faskes',
    'PSTV12': 'Jenis_Faskes',
    'PSTV13': 'Provinsi_Faskes_Peserta',
    'PSTV14': 'Kabupaten_Kota_Faskes_Peserta',
    'PSTV15': 'Bobot',
    'PSTV16': 'Tahun_Sampel',
    'PSTV17': 'Status_Kepesertaan',
    'PSTV18': 'Tahun_Meninggal'
}, inplace=True)

In [19]:
print('\nData in DM2020_kepesertaan.dta')
df_20.head()

Data in DM2020_kepesertaan.dta

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2020,AKTIF,NaN
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2020,AKTIF,NaN
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2020,AKTIF,NaN
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2020,AKTIF,NaN
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2020,AKTIF,NaN

In [20]:
df_20.shape

(143496, 18)

In [21]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143496 entries, 0 to 143495
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Nomor_Peserta                          143496 non-null  int32
 1   Nomor_Keluarga                         143496 non-null  int32
 2   Tanggal_Lahir_Peserta                  143496 non-null  datetime64[ns]
 3   Hubungan_Keluarga                      143496 non-null  category
 4   Jenis_Kelamin                          143496 non-null  category
 5   Status_Perkawinan                      143496 non-null  category
 6   Kelas_Rawat                            143496 non-null  category
 7   Segmen_Peserta                         143496 non-null  category
 8   Provinsi_Tempat_Tinggal_Peserta        143496 non-null  category
 9   Kabupaten_Kota_Tempat_Tinggal_Peserta  143496 non-null  category
 10  Kepemilikan_Faskes                     143496 non-null  category
 11  Jenis_Faskes                           143496 non-null  category
 12  Provinsi_Faskes_Peserta                143496 non-null  category
 13  Kabupaten_Kota_Faskes_Peserta          143496 non-null  category
 14  Bobot                                  143496 non-null  float32
 15  Tahun_Sampel                           143496 non-null  int16
 16  Status_Kepesertaan                     143496 non-null  category
 17  Tahun_Meninggal                        10268 non-null   float64
dtypes: category(12), datetime64[ns](1), float32(1), float64(1), int16(1), int32(2)
memory usage: 7.2 MB

In [22]:
df_20.duplicated().sum()

0

In [23]:
df_20.isna().sum().sum()

133228

In [24]:
df_20.isna().sum()

Nomor_Peserta                                 0
Nomor_Keluarga                                0
Tanggal_Lahir_Peserta                         0
Hubungan_Keluarga                             0
Jenis_Kelamin                                 0
Status_Perkawinan                             0
Kelas_Rawat                                   0
Segmen_Peserta                                0
Provinsi_Tempat_Tinggal_Peserta               0
Kabupaten_Kota_Tempat_Tinggal_Peserta         0
Kepemilikan_Faskes                            0
Jenis_Faskes                                  0
Provinsi_Faskes_Peserta                       0
Kabupaten_Kota_Faskes_Peserta                 0
Bobot                                         0
Tahun_Sampel                                  0
Status_Kepesertaan                            0
Tahun_Meninggal                          133228
dtype: int64

- Jumlah missing value pada fitur `Tahun_Meninggal` sebanyak 133.228.

In [25]:
df_20['Tahun_Meninggal'] = df_20['Tahun_Meninggal'].fillna(0).astype(int)
df_20['Tahun_Lahir'] = df_20['Tanggal_Lahir_Peserta'].dt.year

umur = np.where(df_20['Tahun_Meninggal'] != 0,
                df_20['Tahun_Meninggal'] - df_20['Tahun_Lahir'],
                df_20['Tahun_Sampel'] - df_20['Tahun_Lahir'])
df_20['Umur'] = umur.astype(int)

In [26]:
df_20.head()

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal,Tahun_Lahir,Umur
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2020,AKTIF,0,1955,65
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2020,AKTIF,0,1957,63
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2020,AKTIF,0,1959,61
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2020,AKTIF,0,1977,43
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2020,AKTIF,0,1961,59

In [27]:
df_20.describe(include='all')

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal,Tahun_Lahir,Umur
count,1.434960e+05,1.434960e+05,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496.000000,143496.0,143496,143496.000000,143496.000000,143496.000000
unique,NaN,NaN,18552,5,2,3,4,6,35,484,9,3,34,488,NaN,NaN,3,NaN,NaN,NaN
top,NaN,NaN,1960-12-31 00:00:00,PESERTA,PEREMPUAN,KAWIN,KELAS III,PBPU,JAWA TIMUR,KOTA SURABAYA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,JAWA TIMUR,KOTA SURABAYA,NaN,NaN,AKTIF,NaN,NaN,NaN
freq,NaN,NaN,441,85514,85829,119992,60800,42256,23450,3895,84426,86105,23514,4098,NaN,NaN,124477,NaN,NaN,NaN
first,NaN,NaN,1899-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2018-06-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.015970e+08,1.216283e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.004865,2020.0,NaN,144.512864,1961.257763,58.711978
std,1.209830e+08,1.363905e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.666396,0.0,NaN,520.550492,10.243017,10.236496
min,9.680000e+02,5.170000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.351047,2020.0,NaN,0.000000,1899.000000,2.000000
25%,3.011237e+07,3.239370e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.047610,2020.0,NaN,0.000000,1954.000000,52.000000
50%,5.977754e+07,6.482657e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.459408,2020.0,NaN,0.000000,1961.000000,59.000000
75%,8.989074e+07,9.736831e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.782674,2020.0,NaN,0.000000,1968.000000,65.000000
max,4.553888e+08,4.553888e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.295937,2020.0,NaN,2020.000000,2018.000000,121.000000

#### 1.1.3. Tahun 2021

In [28]:
df_21.columns

Index(['PSTV01', 'PSTV02', 'PSTV03', 'PSTV04', 'PSTV05', 'PSTV06', 'PSTV07',
       'PSTV08', 'PSTV09', 'PSTV10', 'PSTV11', 'PSTV12', 'PSTV13', 'PSTV14',
       'PSTV15', 'PSTV16', 'PSTV17', 'PSTV18'],
      dtype='object')

In [29]:
df_21.rename(columns={
    'PSTV01': 'Nomor_Peserta',
    'PSTV02': 'Nomor_Keluarga',
    'PSTV03': 'Tanggal_Lahir_Peserta',
    'PSTV04': 'Hubungan_Keluarga',
    'PSTV05': 'Jenis_Kelamin',
    'PSTV06': 'Status_Perkawinan',
    'PSTV07': 'Kelas_Rawat',
    'PSTV08': 'Segmen_Peserta',
    'PSTV09': 'Provinsi_Tempat_Tinggal_Peserta',
    'PSTV10': 'Kabupaten_Kota_Tempat_Tinggal_Peserta',
    'PSTV11': 'Kepemilikan_Faskes',
    'PSTV12': 'Jenis_Faskes',
    'PSTV13': 'Provinsi_Faskes_Peserta',
    'PSTV14': 'Kabupaten_Kota_Faskes_Peserta',
    'PSTV15': 'Bobot',
    'PSTV16': 'Tahun_Sampel',
    'PSTV17': 'Status_Kepesertaan',
    'PSTV18': 'Tahun_Meninggal'
}, inplace=True)

In [30]:
print('\nData in DM2021_kepesertaan.dta')
df_21.head()

Data in DM2021_kepesertaan.dta

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2021,AKTIF,NaN
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2021,AKTIF,NaN
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2021,AKTIF,NaN
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2021,AKTIF,NaN
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2021,AKTIF,NaN

In [31]:
df_21.shape

(143496, 18)

In [32]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143496 entries, 0 to 143495
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Nomor_Peserta                          143496 non-null  int32
 1   Nomor_Keluarga                         143496 non-null  int32
 2   Tanggal_Lahir_Peserta                  143496 non-null  datetime64[ns]
 3   Hubungan_Keluarga                      143496 non-null  category
 4   Jenis_Kelamin                          143496 non-null  category
 5   Status_Perkawinan                      143496 non-null  category
 6   Kelas_Rawat                            143496 non-null  category
 7   Segmen_Peserta                         143496 non-null  category
 8   Provinsi_Tempat_Tinggal_Peserta        143496 non-null  category
 9   Kabupaten_Kota_Tempat_Tinggal_Peserta  143496 non-null  category
 10  Kepemilikan_Faskes                     143496 non-null  category
 11  Jenis_Faskes                           143496 non-null  category
 12  Provinsi_Faskes_Peserta                143496 non-null  category
 13  Kabupaten_Kota_Faskes_Peserta          143496 non-null  category
 14  Bobot                                  143496 non-null  float32
 15  Tahun_Sampel                           143496 non-null  int16
 16  Status_Kepesertaan                     143496 non-null  category
 17  Tahun_Meninggal                        17679 non-null   float64
dtypes: category(12), datetime64[ns](1), float32(1), float64(1), int16(1), int32(2)
memory usage: 7.2 MB

In [33]:
df_21.duplicated().sum()

0

In [34]:
df_21.isna().sum().sum()

125817

In [35]:
df_21.isna().sum()

Nomor_Peserta                                 0
Nomor_Keluarga                                0
Tanggal_Lahir_Peserta                         0
Hubungan_Keluarga                             0
Jenis_Kelamin                                 0
Status_Perkawinan                             0
Kelas_Rawat                                   0
Segmen_Peserta                                0
Provinsi_Tempat_Tinggal_Peserta               0
Kabupaten_Kota_Tempat_Tinggal_Peserta         0
Kepemilikan_Faskes                            0
Jenis_Faskes                                  0
Provinsi_Faskes_Peserta                       0
Kabupaten_Kota_Faskes_Peserta                 0
Bobot                                         0
Tahun_Sampel                                  0
Status_Kepesertaan                            0
Tahun_Meninggal                          125817
dtype: int64

- Jumlah missing value pada fitur `Tahun_Meninggal` sebanyak 125.817.

In [36]:
df_21['Tahun_Meninggal'] = df_21['Tahun_Meninggal'].fillna(0).astype(int)
df_21['Tahun_Lahir'] = df_21['Tanggal_Lahir_Peserta'].dt.year

umur = np.where(df_21['Tahun_Meninggal'] != 0,
                df_21['Tahun_Meninggal'] - df_21['Tahun_Lahir'],
                df_21['Tahun_Sampel'] - df_21['Tahun_Lahir'])
df_21['Umur'] = umur.astype(int)

In [37]:
df_21.head()

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal,Tahun_Lahir,Umur
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2021,AKTIF,0,1955,66
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2021,AKTIF,0,1957,64
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2021,AKTIF,0,1959,62
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2021,AKTIF,0,1977,44
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2021,AKTIF,0,1961,60

In [38]:
df_21.describe(include='all')

,Nomor_Peserta,Nomor_Keluarga,Tanggal_Lahir_Peserta,Hubungan_Keluarga,Jenis_Kelamin,Status_Perkawinan,Kelas_Rawat,Segmen_Peserta,Provinsi_Tempat_Tinggal_Peserta,Kabupaten_Kota_Tempat_Tinggal_Peserta,Kepemilikan_Faskes,Jenis_Faskes,Provinsi_Faskes_Peserta,Kabupaten_Kota_Faskes_Peserta,Bobot,Tahun_Sampel,Status_Kepesertaan,Tahun_Meninggal,Tahun_Lahir,Umur
count,1.434960e+05,1.434960e+05,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496,143496.000000,143496.0,143496,143496.000000,143496.000000,143496.000000
unique,NaN,NaN,18552,5,2,3,4,6,35,487,9,3,34,486,NaN,NaN,4,NaN,NaN,NaN
top,NaN,NaN,1960-12-31 00:00:00,PESERTA,PEREMPUAN,KAWIN,KELAS III,PBPU,JAWA TIMUR,KOTA SURABAYA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,JAWA TIMUR,KOTA SURABAYA,NaN,NaN,AKTIF,NaN,NaN,NaN
freq,NaN,NaN,441,86276,85829,119606,61732,41650,23463,3887,84974,86622,23567,4074,NaN,NaN,113005,NaN,NaN,NaN
first,NaN,NaN,1899-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2018-06-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.015970e+08,1.216283e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.004865,2021.0,NaN,248.889648,1961.257763,59.640561
std,1.209830e+08,1.363905e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.666396,0.0,NaN,663.971137,10.243017,10.224047
min,9.680000e+02,5.170000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.351047,2021.0,NaN,0.000000,1899.000000,3.000000
25%,3.011237e+07,3.239370e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.047610,2021.0,NaN,0.000000,1954.000000,53.000000
50%,5.977754e+07,6.482657e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.459408,2021.0,NaN,0.000000,1961.000000,60.000000
75%,8.989074e+07,9.736831e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.782674,2021.0,NaN,0.000000,1968.000000,66.000000
max,4.553888e+08,4.553888e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.295937,2021.0,NaN,2021.000000,2018.000000,122.000000

### 1.2. Fasilitas Kesehatan Tingkat Pratama (FKTP) Kapitasi

In [39]:
df_fktp_k.columns

Index(['PSTV01', 'PSTV02', 'PSTV15', 'FKP02', 'FKP03', 'FKP04', 'FKP05',
       'FKP06', 'FKP07', 'FKP08', 'FKP09', 'FKP10', 'FKP11', 'FKP12', 'FKP13',
       'FKP14', 'FKP14A', 'FKP15', 'FKP15A', 'FKP16', 'FKP17', 'FKP18',
       'FKP19', 'FKP20', 'FKP21', 'FKP22'],
      dtype='object')

In [40]:
df_fktp_k.rename(columns={
    'PSTV01': 'Nomor_Peserta',
    'PSTV02': 'Nomor_Keluarga',
    'PSTV15': 'Bobot',
    'FKP02' : 'ID_Kunjungan_FKTP',
    'FKP03' : 'Tanggal_Datang_Kunjungan',
    'FKP04' : 'Tanggal_Pulang_Kunjungan',
    'FKP05' : 'Provinsi',
    'FKP06' : 'Kabupaten_Kota',
    'FKP07' : 'Kepemilikan',
    'FKP08' : 'Jenis',
    'FKP09' : 'Tipe',
    'FKP10' : 'Tingkat_Pelayanan',
    'FKP11' : 'Jenis_Poli',
    'FKP12' : 'Segmen_Peserta_Akses_Layanan',
    'FKP13' : 'Status_Pulang_Peserta',
    'FKP14' : 'Kode_Nama_Diagnosis_ICD_10_FKP',
    'FKP14A': 'Kode_Diagnosis_ICD_10_FKP',
    'FKP15' : 'Kode_Diagnosis_3_5_Digit_FKP',
    'FKP15A': 'Nama_Diagnosis_Dari_Kode_Diagnosis_FKP15',
    'FKP16' : 'Provinsi_Faskes_Tujuan_Rujukan',
    'FKP17' : 'Kabupaten_Kota_Faskes_Tujuan_Rujukan',
    'FKP18' : 'Kepemilikan_Faskes_Tujuan_Rujukan',
    'FKP19' : 'Jenis_Faskes_Tujuan_Rujukan',
    'FKP20' : 'Tipe_Faskes_Tujuan_Rujukan',
    'FKP21' : 'Poli_Faskes_Tujuan_Rujukan',
    'FKP22' : 'Jenis_Kunjungan'
}, inplace=True)

In [41]:
df_fktp_k.head()

,Nomor_Peserta,Nomor_Keluarga,Bobot,ID_Kunjungan_FKTP,Tanggal_Datang_Kunjungan,Tanggal_Pulang_Kunjungan,Provinsi,Kabupaten_Kota,Kepemilikan,Jenis,Tipe,Tingkat_Pelayanan,Jenis_Poli,Segmen_Peserta_Akses_Layanan,Status_Pulang_Peserta,Kode_Nama_Diagnosis_ICD_10_FKP,Kode_Diagnosis_ICD_10_FKP,Kode_Diagnosis_3_5_Digit_FKP,Nama_Diagnosis_Dari_Kode_Diagnosis_FKP15,Provinsi_Faskes_Tujuan_Rujukan,Kabupaten_Kota_Faskes_Tujuan_Rujukan,Kepemilikan_Faskes_Tujuan_Rujukan,Jenis_Faskes_Tujuan_Rujukan,Tipe_Faskes_Tujuan_Rujukan,Poli_Faskes_Tujuan_Rujukan,Jenis_Kunjungan
0,12380560,12380560,13.364630,1687160334,2021-11-10,2021-11-10,31,3174,3,1,3,1,13,3,98,9999,,9999,9999,98,9998,98,98,98,98,2
1,288452470,78043385,8.494392,1457720536,2021-02-26,2021-02-26,17,1702,3,1,3,1,12,5,98,9999,,9999,9999,98,9998,98,98,98,98,2
2,337885189,337885189,13.472825,1732989007,2021-12-08,2021-12-08,31,3175,3,1,3,1,13,3,98,9999,,9999,9999,98,9998,98,98,98,98,2
3,2783323,2783323,12.233603,1464029376,2021-03-03,2021-03-03,32,3276,3,1,4,1,13,4,98,9999,,9999,9999,98,9998,98,98,98,98,2
4,99122276,6688304,6.842236,1646802901,2021-09-28,2021-09-28,52,5272,3,1,4,1,12,5,98,9999,,9999,9999,98,9998,98,98,98,98,2

In [42]:
df_fktp_k.shape

(1188324, 26)

In [43]:
df_fktp_k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column                                    Non-Null Count    Dtype
---  ------                                    --------------    -----
 0   Nomor_Peserta                             1188324 non-null  int32
 1   Nomor_Keluarga                            1188324 non-null  int32
 2   Bobot                                     1188324 non-null  float32
 3   ID_Kunjungan_FKTP                         1188324 non-null  object
 4   Tanggal_Datang_Kunjungan                  1188324 non-null  datetime64[ns]
 5   Tanggal_Pulang_Kunjungan                  1188324 non-null  datetime64[ns]
 6   Provinsi                                  1188324 non-null  int8
 7   Kabupaten_Kota                            1188324 non-null  int16
 8   Kepemilikan                               1188324 non-null  int8
 9   Jenis                                     1188324 non-null  int8
 10  Tipe                                      1188324 non-null  int8
 11  Tingkat_Pelayanan                         1188324 non-null  int8
 12  Jenis_Poli                                1188324 non-null  int8
 13  Segmen_Peserta_Akses_Layanan              1188324 non-null  int8
 14  Status_Pulang_Peserta                     1188324 non-null  int8
 15  Kode_Nama_Diagnosis_ICD_10_FKP            1188324 non-null  int16
 16  Kode_Diagnosis_ICD_10_FKP                 1188324 non-null  object
 17  Kode_Diagnosis_3_5_Digit_FKP              1188324 non-null  object
 18  Nama_Diagnosis_Dari_Kode_Diagnosis_FKP15  1188324 non-null  object
 19  Provinsi_Faskes_Tujuan_Rujukan            1188324 non-null  int8
 20  Kabupaten_Kota_Faskes_Tujuan_Rujukan      1188324 non-null  int16
 21  Kepemilikan_Faskes_Tujuan_Rujukan         1188324 non-null  int8
 22  Jenis_Faskes_Tujuan_Rujukan               1188324 non-null  int8
 23  Tipe_Faskes_Tujuan_Rujukan                1188324 non-null  int8
 24  Poli_Faskes_Tujuan_Rujukan                1188324 non-null  int16
 25  Jenis_Kunjungan                           1188324 non-null  int8
dtypes: datetime64[ns](2), float32(1), int16(4), int32(2), int8(13), object(4)
memory usage: 100.9+ MB

In [44]:
df_fktp_k.duplicated().sum()

0

In [45]:
df_fktp_k.isna().sum().sum()

0

### 1.3. Fasilitas Kesehatan Rujukan Tingkat Lanjutan (FKRTL) Diagnosis Primer

In [46]:
df_fkrtl_1.columns

Index(['PSTV01', 'PSTV02', 'PSTV15', 'FKP02', 'FKL02', 'FKL03', 'FKL04',
       'FKL05', 'FKL06', 'FKL07', 'FKL08', 'FKL09', 'FKL10', 'FKL11', 'FKL12',
       'FKL13', 'FKL14', 'FKL15', 'FKL15A', 'FKL16', 'FKL16A', 'FKL17',
       'FKL17A', 'FKL18', 'FKL18A', 'FKL19', 'FKL19A', 'FKL20', 'FKL21',
       'FKL22', 'FKL23', 'FKL25', 'FKL26', 'FKL27', 'FKL28', 'FKL29', 'FKL30',
       'FKL31', 'FKL32', 'FKL33', 'FKL34', 'FKL35', 'FKL36', 'FKL37', 'FKL38',
       'FKL39', 'FKL40', 'FKL41', 'FKL42', 'FKL43', 'FKL44', 'FKL45', 'FKL46',
       'FKL47', 'FKL48'],
      dtype='object')

In [47]:
df_fkrtl_1.rename(columns={
    'PSTV01': 'Nomor_Peserta',
    'PSTV02': 'Nomor_Keluarga',
    'PSTV15': 'Bobot',
    'FKP02' : 'ID_Kunjungan_FKTP',
    'FKL02' : 'ID_Kunjungan_FKRTL',
    'FKL03' : 'Tanggal_Datang_Kunjungan',
    'FKL04' : 'Tanggal_Pulang_Kunjungan',
    'FKL05' : 'Provinsi',
    'FKL06' : 'Kabupaten_Kota',
    'FKL07' : 'Kepemilikan',
    'FKL08' : 'Jenis',
    'FKL09' : 'Tipe',
    'FKL10' : 'Tingkat_Pelayanan',
    'FKL11' : 'Jenis_Poli',
    'FKL12' : 'Segmen_Peserta_Akses_Layanan',
    'FKL13' : 'Kelas_Rawat_Peserta',
    'FKL14' : 'Status_Pulang',
    'FKL15' : 'Kode_Nama_Diagnosis_Masuk_ICD_10',
    'FKL15A': 'Kode_Diagnosis_Masuk_ICD_10',
    'FKL16' : 'Kode_ICD_10_Diagnosis_Masuk',
    'FKL16A': 'Nama_Diagnosis_Masuk',
    'FKL17' : 'Kode_Nama_Diagnosis_Primer_ICD_10',
    'FKL17A': 'Kode_Diagnosis_Primer_ICD_10',
    'FKL18' : 'Kode_ICD_10_Diagnosis_Primer',
    'FKL18A': 'Nama_Diagnosis_Primer',
    'FKL19' : 'Kode_INACBGs',
    'FKL19A': 'Deskripsi_Kode_INACBGs',
    'FKL20' : 'INACBGs_Kode_Casemix_Main_Groups',
    'FKL21' : 'INACBGs_Tipe_Kelompok_Kasus',
    'FKL22' : 'INACBGs_Spesifikasi_Kelompok_Kasus',
    'FKL23' : 'INACBGs_Tingkat_Keparahan_Kelompok_Kasus',
    'FKL25' : 'Provinsi_Faskes_Perujuk',
    'FKL26' : 'Kabupaten_Kota_Faskes_Perujuk',
    'FKL27' : 'Kepemilikan_Faskes_Perujuk',
    'FKL28' : 'Jenis_Faskes_Perujuk',
    'FKL29' : 'Tipe_Faskes_Perujuk',
    'FKL30' : 'Jenis_Prosedur',
    'FKL31' : 'Tarif_Regional_INACBGs',
    'FKL32' : 'Group_Tarif_INACBGs',
    'FKL33' : 'Kode_Special_Sub-Acute_Groups_SA',
    'FKL34' : 'Tarif_Special_Sub-Acute_Groups_SA',
    'FKL35' : 'Kode_Special_Procedures_SP',
    'FKL36' : 'Deskripsi_Special_Procedures_SP',
    'FKL37' : 'Tarif_Special_Procedures_SP',
    'FKL38' : 'Kode_Special_Prosthesis_RR',
    'FKL39' : 'Deskripsi_Special_Prosthesis_RR',
    'FKL40' : 'Tarif_Special_Prosthesis_RR',
    'FKL41' : 'Kode_Special_Investigation_SI',
    'FKL42' : 'Deskripsi_Special_Investigation_SI',
    'FKL43' : 'Tarif_Special_Investigation_SI',
    'FKL44' : 'Kode_Special_Drugs_SD',
    'FKL45' : 'Deskripsi_Special_Drugs_SD',
    'FKL46' : 'Tarif_Special_Drugs_SD',
    'FKL47' : 'Biaya_Tagih_Faskes_Provider',
    'FKL48' : 'Biaya_Verifikasi'
}, inplace=True)

In [48]:
df_fkrtl_1.head()

,Nomor_Peserta,Nomor_Keluarga,Bobot,ID_Kunjungan_FKTP,ID_Kunjungan_FKRTL,Tanggal_Datang_Kunjungan,Tanggal_Pulang_Kunjungan,Provinsi,Kabupaten_Kota,Kepemilikan,Jenis,Tipe,Tingkat_Pelayanan,Jenis_Poli,Segmen_Peserta_Akses_Layanan,Kelas_Rawat_Peserta,Status_Pulang,Kode_Nama_Diagnosis_Masuk_ICD_10,Kode_Diagnosis_Masuk_ICD_10,Kode_ICD_10_Diagnosis_Masuk,Nama_Diagnosis_Masuk,Kode_Nama_Diagnosis_Primer_ICD_10,Kode_Diagnosis_Primer_ICD_10,Kode_ICD_10_Diagnosis_Primer,Nama_Diagnosis_Primer,Kode_INACBGs,Deskripsi_Kode_INACBGs,INACBGs_Kode_Casemix_Main_Groups,INACBGs_Tipe_Kelompok_Kasus,INACBGs_Spesifikasi_Kelompok_Kasus,INACBGs_Tingkat_Keparahan_Kelompok_Kasus,Provinsi_Faskes_Perujuk,Kabupaten_Kota_Faskes_Perujuk,Kepemilikan_Faskes_Perujuk,Jenis_Faskes_Perujuk,Tipe_Faskes_Perujuk,Jenis_Prosedur,Tarif_Regional_INACBGs,Group_Tarif_INACBGs,Kode_Special_Sub-Acute_Groups_SA,Tarif_Special_Sub-Acute_Groups_SA,Kode_Special_Procedures_SP,Deskripsi_Special_Procedures_SP,Tarif_Special_Procedures_SP,Kode_Special_Prosthesis_RR,Deskripsi_Special_Prosthesis_RR,Tarif_Special_Prosthesis_RR,Kode_Special_Investigation_SI,Deskripsi_Special_Investigation_SI,Tarif_Special_Investigation_SI,Kode_Special_Drugs_SD,Deskripsi_Special_Drugs_SD,Tarif_Special_Drugs_SD,Biaya_Tagih_Faskes_Provider,Biaya_Verifikasi
0,50886719,50886719,12.507828,,414390221V002006,2021-02-20,2021-02-20,RIAU,KOTA PEKANBARU,POLRI,Rumah sakit,RS TNI Polri Kelas III,RJTL,IGD,PBPU,Kelas 3,Sehat,A00 Cholera,A00,A009,"Cholera, unspecified",A00 Cholera,A00,A009,"Cholera, unspecified",Q-5-42-0,PENYAKIT AKUT KECIL LAIN-LAIN,Q. Ambulatory Groups-Episodic,Rawat Jalan Bukan Prosedur,42,Rawat Jalan,RIAU,KOTA PEKANBARU,POLRI,Klinik Pratama,KLINIK NON RAWAT INAP,,regional 2,184300,,0,,,0,,,0,,,0,,,0,184300,184300
1,70972186,6871133,13.055749,,380700421V000216,2021-04-07,2021-04-08,KALIMANTAN TIMUR,KOTA SAMARINDA,TNI AD,Rumah sakit,RS TNI Polri Kelas IV,RITL,Missing,PBPU,Kelas 2,Sehat,R06 Abnormalities of breathing,R06,R060,Dyspnoea,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,A-4-14-I,PENYAKIT INFEKSI BAKTERI DAN PARASIT LAIN-LAI...,A. Infectious & parasitic diseases Grou,Rawat Inap Bukan Prosedur,14,Ringan (rawat inap keparahan 1),KALIMANTAN TIMUR,KOTA SAMARINDA,TNI AD,Rumah sakit,RS TNI POLRI KELAS IV,9059 - Other microscopic examination of blood,regional 4,2578800,,0,,,0,,,0,,,0,,,0,2578800,2578800
2,31874094,71865092,7.740489,,385450421V006571,2021-04-19,2021-04-19,JAWA TENGAH,KOTA SURAKARTA,Swasta,Rumah sakit,RS Swasta Setara Type B,RJTL,IGD,PPU,Kelas 3,Sehat,R51 Headache,R51,R51,Headache,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Q-5-42-0,PENYAKIT AKUT KECIL LAIN-LAIN,Q. Ambulatory Groups-Episodic,Rawat Jalan Bukan Prosedur,42,Rawat Jalan,JAWA TENGAH,KARANGANYAR,Swasta,Klinik Pratama,KLINIK RAWAT INAP,8952 - Electrocardiogram;9059 - Other microsco...,regional 1,193800,,0,,,0,,,0,,,0,,,0,193800,193800
3,87945875,87945875,7.734398,,206900221V006045,2021-02-28,2021-03-03,ACEH,ACEH TENGAH,Pemerintah kab/kota,Rumah sakit,RS Kelas B,RITL,Missing,PBI APBD,Kelas 3,Sehat,J10 Influenza due to other identified influenz...,J10,J108,"Influenza with other manifestations, influenza...",A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,A-4-14-II,PENYAKIT INFEKSI BAKTERI DAN PARASIT LAIN-LAI...,A. Infectious & parasitic diseases Grou,Rawat Inap Bukan Prosedur,14,Sedang (rawat inap keparahan 2),ACEH,ACEH TENGAH,PemKab,Rumah sakit,RS KELAS B,8952 - Electrocardiogram,regional 3,2705800,,0,,,0,,,0,,,0,,,0,2705800,2705800
4,384677503,384677503,2.777775,,447120121V000468,2021-01-29,2021-02-01,SUMATERA SELATAN,KOTA PRABUMULIH,Swasta,Rumah sakit,RS Swasta Setara Type D,RITL,Missing,PBPU,Kelas 3,Sehat,R50 Fever of other and unknown origin,R50,R509,"Fever, unspecified",A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,A-4-14-I,PENYAKIT INFEKSI BAKTERI DAN PARASIT LAIN-LAI...,A. Infectious & parasitic diseases Grou,Rawat Inap Bukan Prosedur,14,Ringan (rawat inap keparahan 1),SUMATERA SELATAN,KOTA PRABUMULIH,Swasta,Rumah sakit,RS SWASTA SETARA TYPE D,,regional 2,2174700,,0,,,0,,,0,,,0,,,0,2174700,2174700

In [49]:
df_fkrtl_1.shape

(826641, 55)

In [50]:
df_fkrtl_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 826641 entries, 0 to 826640
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Nomor_Peserta                             826641 non-null  int32
 1   Nomor_Keluarga                            826641 non-null  int32
 2   Bobot                                     826641 non-null  float32
 3   ID_Kunjungan_FKTP                         826641 non-null  object
 4   ID_Kunjungan_FKRTL                        826641 non-null  object
 5   Tanggal_Datang_Kunjungan                  826641 non-null  datetime64[ns]
 6   Tanggal_Pulang_Kunjungan                  826641 non-null  datetime64[ns]
 7   Provinsi                                  826641 non-null  category
 8   Kabupaten_Kota                            826641 non-null  category
 9   Kepemilikan                               826641 non-null  category
 10  Jenis                                     826641 non-null  category
 11  Tipe                                      826641 non-null  category
 12  Tingkat_Pelayanan                         826641 non-null  category
 13  Jenis_Poli                                826641 non-null  category
 14  Segmen_Peserta_Akses_Layanan              826641 non-null  category
 15  Kelas_Rawat_Peserta                       826641 non-null  category
 16  Status_Pulang                             826641 non-null  category
 17  Kode_Nama_Diagnosis_Masuk_ICD_10          826641 non-null  category
 18  Kode_Diagnosis_Masuk_ICD_10               826641 non-null  object
 19  Kode_ICD_10_Diagnosis_Masuk               826641 non-null  object
 20  Nama_Diagnosis_Masuk                      826641 non-null  object
 21  Kode_Nama_Diagnosis_Primer_ICD_10         826641 non-null  category
 22  Kode_Diagnosis_Primer_ICD_10              826641 non-null  object
 23  Kode_ICD_10_Diagnosis_Primer              826641 non-null  object
 24  Nama_Diagnosis_Primer                     826641 non-null  object
 25  Kode_INACBGs                              826641 non-null  object
 26  Deskripsi_Kode_INACBGs                    826641 non-null  object
 27  INACBGs_Kode_Casemix_Main_Groups          826641 non-null  category
 28  INACBGs_Tipe_Kelompok_Kasus               826641 non-null  category
 29  INACBGs_Spesifikasi_Kelompok_Kasus        826641 non-null  int8
 30  INACBGs_Tingkat_Keparahan_Kelompok_Kasus  826641 non-null  category
 31  Provinsi_Faskes_Perujuk                   826641 non-null  category
 32  Kabupaten_Kota_Faskes_Perujuk             826641 non-null  category
 33  Kepemilikan_Faskes_Perujuk                826641 non-null  category
 34  Jenis_Faskes_Perujuk                      826641 non-null  category
 35  Tipe_Faskes_Perujuk                       826641 non-null  category
 36  Jenis_Prosedur                            826641 non-null  object
 37  Tarif_Regional_INACBGs                    826641 non-null  category
 38  Group_Tarif_INACBGs                       826641 non-null  int32
 39  Kode_Special_Sub-Acute_Groups_SA          826641 non-null  object
 40  Tarif_Special_Sub-Acute_Groups_SA         826641 non-null  int32
 41  Kode_Special_Procedures_SP                826641 non-null  object
 42  Deskripsi_Special_Procedures_SP           826641 non-null  object
 43  Tarif_Special_Procedures_SP               826641 non-null  int32
 44  Kode_Special_Prosthesis_RR                826641 non-null  object
 45  Deskripsi_Special_Prosthesis_RR           826641 non-null  object
 46  Tarif_Special_Prosthesis_RR               826641 non-null  int32
 47  Kode_Special_Investigation_SI             826641 non-null  object
 48  Deskripsi_Special_Investigation_SI        826641 non-null  object
 49  Tarif_Special_Investigation_SI            826641 non-null  int32
 50  Kode_Special_Drugs_SD                     826641 non-null  object
 51  Deskripsi_Special_Drugs_SD                826641 non-null  object
 52  Tarif_Special_Drugs_SD                    826641 non-null  int32
 53  Biaya_Tagih_Faskes_Provider               826641 non-null  int32
 54  Biaya_Verifikasi                          826641 non-null  int32
dtypes: category(21), datetime64[ns](2), float32(1), int32(10), int8(1), object(20)
memory usage: 200.4+ MB

In [51]:
df_fkrtl_1.duplicated().sum()

0

In [52]:
df_fkrtl_1.isna().sum().sum()

0

### 1.4. FKTP Non-Kapitasi

In [53]:
df_fktp_n.columns

Index(['PSTV01', 'PSTV02', 'PSTV15', 'PNK02', 'PNK03', 'PNK04', 'PNK05',
       'PNK06', 'PNK07', 'PNK08', 'PNK09', 'PNK10', 'PNK11', 'PNK12', 'PNK13',
       'PNK13A', 'PNK14', 'PNK15', 'PNK16', 'PNK17', 'PNK18', 'PNK19',
       'PNK20'],
      dtype='object')

In [54]:
df_fktp_n.rename(columns={
    'PSTV01': 'Nomor_Peserta',
    'PSTV02': 'Nomor_Keluarga',
    'PSTV15': 'Bobot',
    'PNK02' : 'ID_Kunjungan',
    'PNK03' : 'Tanggal_Kunjungan',
    'PNK04' : 'Tanggal_Tindakan',
    'PNK05' : 'Tanggal_Pulang',
    'PNK06' : 'Provinsi_Faskes',
    'PNK07' : 'Kode_Kab_Kota_Faskes',
    'PNK08' : 'Kepemilikan_Faskes',
    'PNK09' : 'Jenis_Faskes',
    'PNK10' : 'Tipe_Faskes',
    'PNK11' : 'Tingkat_Layanan',
    'PNK12' : 'Segmen_Peserta',
    'PNK13' : 'Kode_Nama_Diagnosis_ICD_10',
    'PNK13A': 'Kode_Diagnosis_ICD_10',
    'PNK14' : 'Kode_Diagnosis_3_5_Digit',
    'PNK15' : 'Nama_Diagnosis',
    'PNK16' : 'Nama_Tindakan',
    'PNK17' : 'Biaya_Tagih',
    'PNK18' : 'Biaya_Verifikasi',
    'PNK19' : 'Hasil_Pemeriksaan_GDP_1', # Gula Darah Puasa
    'PNK20' : 'Hasil_Pemeriksaan_GDP_2'
}, inplace=True)

In [55]:
df_fktp_n.head()

,Nomor_Peserta,Nomor_Keluarga,Bobot,ID_Kunjungan,Tanggal_Kunjungan,Tanggal_Tindakan,Tanggal_Pulang,Provinsi_Faskes,Kode_Kab_Kota_Faskes,Kepemilikan_Faskes,Jenis_Faskes,Tipe_Faskes,Tingkat_Layanan,Segmen_Peserta,Kode_Nama_Diagnosis_ICD_10,Kode_Diagnosis_ICD_10,Kode_Diagnosis_3_5_Digit,Nama_Diagnosis,Nama_Tindakan,Biaya_Tagih,Biaya_Verifikasi,Hasil_Pemeriksaan_GDP_1,Hasil_Pemeriksaan_GDP_2
0,88204825,88204825,6.755007,203960321P000052,2021-03-13,2021-03-16,2021-03-16,NUSA TENGGARA BARAT,LOMBOK TIMUR,SWASTA,KLINIK PRATAMA,KLINIK RAWAT INAP,RITP,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,540000,540000,0.0,NaN
1,24034617,72462276,12.832207,185630321P001651,2021-03-28,2021-03-28,2021-03-30,SULAWESI SELATAN,LUWU,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,RAWAT INAP,RITP,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,240000,240000,0.0,NaN
2,17391573,417758463,13.106908,46631021P000693,2021-10-11,2021-10-14,2021-10-14,JAWA BARAT,BANDUNG,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,RAWAT INAP,RITP,PBI APBN,A01 Typhoid and paratyphoid fevers,A01,A010,Typhoid fever,Rawat Inap di R. Perawatan Biasa,600000,600000,0.0,NaN
3,60560444,60560444,12.762736,325900321P000146,2021-03-17,2021-03-21,2021-03-21,JAWA TENGAH,SRAGEN,SWASTA,KLINIK PRATAMA,KLINIK RAWAT INAP,RITP,PBI APBN,A09 Other gastroenteritis and colitis of infec...,A09,A09,Diarrhoea and gastroenteritis of presumed infe...,Rawat Inap di R. Perawatan Biasa,640000,640000,0.0,NaN
4,291346266,291346266,13.404066,460570621P000056,2021-06-13,2021-06-16,2021-06-16,ACEH,ACEH UTARA,SWASTA,KLINIK PRATAMA,KLINIK RAWAT INAP,RITP,PPU,A09 Other gastroenteritis and colitis of infec...,A09,A09,Diarrhoea and gastroenteritis of presumed infe...,Rawat Inap di R. Perawatan Biasa,525000,525000,0.0,NaN

In [56]:
df_fktp_n.shape

(1702, 23)

In [57]:
df_fktp_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1702 entries, 0 to 1701
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nomor_Peserta               1702 non-null   int32
 1   Nomor_Keluarga              1702 non-null   int32
 2   Bobot                       1702 non-null   float32
 3   ID_Kunjungan                1702 non-null   object
 4   Tanggal_Kunjungan           1702 non-null   datetime64[ns]
 5   Tanggal_Tindakan            1702 non-null   datetime64[ns]
 6   Tanggal_Pulang              1702 non-null   datetime64[ns]
 7   Provinsi_Faskes             1702 non-null   category
 8   Kode_Kab_Kota_Faskes        1702 non-null   category
 9   Kepemilikan_Faskes          1702 non-null   category
 10  Jenis_Faskes                1702 non-null   category
 11  Tipe_Faskes                 1702 non-null   category
 12  Tingkat_Layanan             1702 non-null   category
 13  Segmen_Peserta              1702 non-null   category
 14  Kode_Nama_Diagnosis_ICD_10  1702 non-null   category
 15  Kode_Diagnosis_ICD_10       1702 non-null   object
 16  Kode_Diagnosis_3_5_Digit    1702 non-null   object
 17  Nama_Diagnosis              1702 non-null   object
 18  Nama_Tindakan               1702 non-null   category
 19  Biaya_Tagih                 1702 non-null   int32
 20  Biaya_Verifikasi            1702 non-null   int32
 21  Hasil_Pemeriksaan_GDP_1     1394 non-null   float32
 22  Hasil_Pemeriksaan_GDP_2     1368 non-null   float64
dtypes: category(9), datetime64[ns](3), float32(2), float64(1), int32(4), object(4)
memory usage: 187.8+ KB

In [58]:
df_fktp_n.duplicated().sum()

0

In [59]:
df_fktp_n.isna().sum().sum()

642

In [60]:
df_fktp_n.isna().sum().tail(2)

Hasil_Pemeriksaan_GDP_1    308
Hasil_Pemeriksaan_GDP_2    334
dtype: int64

### 1.5. FKRTL Diagnosis Sekunder

In [61]:
df_fkrtl_2.columns

Index(['FKL02', 'FKL24', 'FKL24A', 'FKL24B'], dtype='object')

In [62]:
df_fkrtl_2.rename(columns={
    'FKL02' : 'ID_Kunjungan_FKRTL',
    'FKL24' : 'Kode_Diagnosis_3_5_Digit',
    'FKL24A': 'Kode_Diagnosis_ICD_10',
    'FKL24B': 'Kode_Nama_Diagnosis_ICD_10'
}, inplace=True)

In [63]:
df_fkrtl_2.head()

,ID_Kunjungan_FKRTL,Kode_Diagnosis_3_5_Digit,Kode_Diagnosis_ICD_10,Kode_Nama_Diagnosis_ICD_10
0,100080121V000024,E119,E11,E11 Type 2 diabetes mellitus
1,100080121V000024,I10,I10,I10 Essential (primary) hypertension
2,100080121V000024,I693,I69,I69 Sequelae of cerebrovascular disease
3,100080121V000078,E119,E11,E11 Type 2 diabetes mellitus
4,100080121V000078,I693,I69,I69 Sequelae of cerebrovascular disease

In [64]:
df_fkrtl_2.shape

(1202910, 4)

In [65]:
df_fkrtl_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1202910 entries, 0 to 1202909
Data columns (total 4 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   ID_Kunjungan_FKRTL          1202910 non-null  object
 1   Kode_Diagnosis_3_5_Digit    1202910 non-null  object
 2   Kode_Diagnosis_ICD_10       1202910 non-null  object
 3   Kode_Nama_Diagnosis_ICD_10  1202910 non-null  object
dtypes: object(4)
memory usage: 45.9+ MB

In [66]:
df_fkrtl_2.duplicated().sum()

0

In [67]:
df_fkrtl_2.isna().sum().sum()

0